<div class="navbar">
    <div class="col-md-1"></div>
    <div class="navbar col-md-7">
        <a routerLink="/addproject">Add Project</a>
        <a routerLink="/addtask" class="active">Add Task</a>
        <a routerLink="/adduser">Add User</a>
        <a routerLink="/viewtask">View Task</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-2">Project :</label>
                <input class="input-form col-md-7" type="string" placeholder="Project Name"
                    [(ngModel)]="projectData.projName" required disabled />
                <button type="button" (click)="listProjects()"> Search</button>
            </div>
            <div class="form-group" *ngIf="ptaskCheck">
                <label class="col-sm-2">Task :</label>
                <input class="input-form col-sm-8" type="string" [(ngModel)]="ptaskData.taskNameParent"
                    placeholder="Parent Task Name" required>
            </div>
            <div class="form-group" *ngIf="!ptaskCheck">
                <label class="col-sm-2">Task :</label>
                <input class="input-form col-sm-8" type="string" [(ngModel)]="taskData.taskName" placeholder="Task Name"
                    required>
            </div>

            <div class="form-row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label> <input type="checkbox" [(ngModel)]="ptaskCheck" />Parent Task</label>
                </div>
            </div>

            <div class="form-group" id="class_priority" *ngIf="!ptaskCheck">
                <label class="col-sm-2">Priority :</label>
                <span>0</span>
                <input class="custom-range col-sm-8" type="range" id="class_range" [(ngModel)]="taskData.taskPriority"
                    min="0" max="30" value="taskData.priority" oninput="class_priority.value=class_range.value">
                <span>30</span>
            </div>

            <div class="form-group" *ngIf="!ptaskCheck">
                <label class="col-md-2">Parent Task :</label>
                <input class="input-form col-md-7" type="string" placeholder="Parent Task"
                    [(ngModel)]="ptaskData.taskNameParent" required disabled />
                <button type="button" (click)="listParentTasks()"> Search</button>
            </div>

            <div class="form-inline" *ngIf="!ptaskCheck">
                <label class="col-md-2">Start Date :</label>
                <input class="input-form col-sm-3" type="date" style="text-align: center" placeholder="Start Date"
                    [(ngModel)]="taskData.taskStartDate" required />
                <label class="col-md-2">End Date :</label>
                <input class="input-form col-sm-3" type="date" style="text-align: center" placeholder="End Date"
                    [(ngModel)]="taskData.taskEndDate" required />
            </div>
            <br>

            <div class="form-group" *ngIf="!ptaskCheck">
                <label class="col-sm-2">User :</label>
                <input class="input-form col-sm-7" type="string" placeholder="User" [(ngModel)]="userData.firstName"
                    required disabled />
                <button type="button" (click)="listUsers()"> Search</button>
            </div>
            <form class="form-inline" *ngIf="!ptaskCheck">
                <div class="col-sm-8"></div>
                <button (click)="addTask()" class="btn btn-primary" style="margin-right: 5px">Add</button>
                <button (click)="cancel()" class="btn btn-primary">Cancel</button>
            </form>
            <form class="form-inline" *ngIf="ptaskCheck">
                <div class="col-sm-8"></div>
                <button (click)="addParentTask()" class="btn btn-primary" style="margin-right: 5px">Add</button>
                <button (click)="cancel()" class="btn btn-primary">Cancel</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<p-dialog header="Projects List" [(visible)]="listProject" [modal]="true" [responsive]="true"
    [style]="{width: '40%', minWidth: '30%'}" [maximizable]="true">

    <ul class="dialoglist">
        <li *ngFor="let project of projects | filter: projName">
            <ul class="list-group">
                <button class="dialoglist list-group-item list-group-item-action" (click)="passBackProj(project)">
                    {{project.projName}}</button>
            </ul>
        </li>
    </ul>

    <p-footer>
        <button type="button" pButton (click)="listProject=false">Close</button>
    </p-footer>

</p-dialog>

<p-dialog header="Parent Tasks List" [(visible)]="listParentTask" [modal]="true" [responsive]="true"
    [style]="{width: '60%', minWidth: '50%'}" [maximizable]="true">

    <ul class="dialoglist">
        <li *ngFor="let ptask of ptasks | filter: taskNameParent">
            <ul class="list-group">
                <button class="dialoglist list-group-item list-group-item-action" (click)="passBackPtask(ptask)">
                    {{ptask.taskNameParent}}</button>
            </ul>
        </li>
    </ul>

    <p-footer>
        <button type="button" pButton (click)="listParentTask=false">Close</button>
    </p-footer>

</p-dialog>

<p-dialog header="Users List" [(visible)]="listUser" [modal]="true" [responsive]="true"
    [style]="{width: '60%', minWidth: '50%'}" [maximizable]="true">

    <ul class="dialoglist">
        <li *ngFor="let user of users | filter: firstName">
            <ul class="list-group">
                <button class="dialoglist list-group-item list-group-item-action" (click)="passBackUser(user)">
                    {{user.firstName}} {{user.lastName}}</button>
            </ul>
        </li>
    </ul>

    <p-footer>
        <button type="button" pButton (click)="listUser=false">Close</button>
    </p-footer>

</p-dialog>