<!-- <nav class="topnav">
<div class="container navbar-header">
  <h1 routerLink="projmgmt">
    Project Management
  </h1>
</div>
</nav>

<nav class="navbar navbar-default">
  <router-outlet></router-outlet>
</nav> -->

<div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <a class="navbar-brand">Project Management</a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>