<div class="navbar">
    <div class="col-md-1"></div>
    <div class="navbar col-md-7">
        <a style="color: black" routerLink="/addproject">Add Project</a>
        <a style="color: black" routerLink="/addtask">Add Task</a>
        <a routerLink="/adduser" class="active">Add User</a>
        <a style="color: black" routerLink="/viewtask">View Task</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-sm-3">First Name :</label>
                <input class="input-form col-sm-5" type="string" placeholder="First Name"
                    [(ngModel)]="userData.firstName" required />
            </div>
            <div class="form-group">
                <label class="col-sm-3">Last Name :</label>
                <input class="input-form col-sm-5" type="string" placeholder="Last Name" [(ngModel)]="userData.lastName"
                    required />
            </div>
            <div class="form-group">
                <label class="col-sm-3">Employee ID :</label>
                <input class="input-form col-sm-3" type="tel" placeholder="Employee ID" [(ngModel)]="userData.empId"
                    required />
            </div>
            <form class="form-inline">
                <div class="col-md-6"></div>
                <button (click)="addUser()" *ngIf="!checkUpd" class="btn btn-primary"
                    style="margin-right: 10px">Add</button>
                <button (click)="addUser()" *ngIf="checkUpd" class="btn btn-primary"
                    style="margin-right: 10px">Update</button>
                <button (click)="reset()" class="btn btn-primary">Reset</button>
            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="form-group">
                <input class="input-form col-sm-4" type="string" placeholder="Search..." [(ngModel)]="filter">

                <label class="col-sm-1">Sort:</label>

                <button style="margin-right: 5%" (click)="sortByKey(users,'firstName')">First Name</button>

                <button style="margin-right: 5%" (click)="sortByKey(users,'lastName')">Last Name</button>

                <button style="margin-right: 5%" (click)="sortByKey(users,'empId')">Emp Id</button>

            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <ul class="users" style="list-style-type: none;">
                <li *ngFor="let user of users | filter:filter ">
                    <div class="row">
                        <ul class="list-group col-6" style="list-style-type: none;">
                            <li class="list-group-item list-group-item-action">{{user.firstName}}</li>
                            <li class="list-group-item list-group-item-action">{{user.lastName}}</li>
                            <li class="list-group-item list-group-item-action">{{user.empId}}</li>
                        </ul>
                        <ul class="list-group col-3" style="list-style-type: none;">
                            <button class="btncss list-group-item list-group-item-action" (click)="editUser(user);"
                                style="text-align: center">Edit</button>
                            <button class="btncss list-group-item list-group-item-action"
                                (click)="deleteUser(user.empId)" style="text-align: center">Delete</button>
                        </ul>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>