<div class="navbar">
    <div class="col-md-2"></div>
    <div class="navbar col-md-8">
        <a routerLink="/addproject">Add Project</a>
        <a routerLink="/addtask">Add Task</a>
        <a routerLink="/adduser" class="active">Add User</a>
        <a routerLink="/viewtask">View Task</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-sm-3">First Name :</label>
                <input class="input-form col-sm-5" type="string" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Last Name :</label>
                <input class="input-form col-sm-5" type="stirng" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Employee ID :</label>
                <input class="input-form col-sm-3" type="number" placeholder="Employee ID" required>
            </div>
            <form class="form-inline">
                <div class="col-md-6"></div>
                <button type="submit" class="btn btn-primary" style="margin-right: 10px">Add</button>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>