/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


/* Overrides list-group-item from Bootstrap */ 
.dialoglist {
    padding: 0.5% 2%;
    list-style-type: none;
}

.viewlist {
    padding: 0.5% 0.5%;
    border-style: none;
    background-color:#f2f2f2;
}